body {
  background-color: cyan;
  font-family: "Oxygen", sans-serif;
}

#header-nav {
  background-color: skyblue;
  border: 2px solid black;
  border-radius: 0;
}

.navbar-brand h1 {
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
  font-family: "Lora", serif;
}

#nav-list {
  margin-top: 3px;
  background: white;
  margin: 0;
}

#nav-list a {
  color: black;
  text-align: center;
  font-size: 15px;
}

#nav-list a:hover,
#nav-list a:focus {
  background-color: cyan;
}

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

p#title {
  font-size: 27px;
  font-weight: bold;
  margin-top: -7px;
}

div #textbox{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: -5px;
    background-color: lightcyan;
    margin-right: -5px;
    margin-left: -5px;
}

div #textbox h3{
    margin-top: -5px;
    font-size: 1.5em;
}

div#return a {
    font-weight: bold;
    color: black;
  }

div#return a:hover, div#return a:focus{
    text-decoration: none;
} 