* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 5px;
  margin-top: 5px;
}

p {
  border: 2px solid black;
  background-color: gray;
  height: 130px;
  width: 95%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  width: 100%;
}

@media (min-width: 992px) {
  .col-des-3 {
    float: left;
    width: 33.3%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-tab-6 {
    float: left;
    width: 50%;
  }
  .col-tab-12 {
    float: left;
    width: 100%;
    padding: 0px;
  }
  .col-tab-12 p {
    width: 97.5%;
  }
}
